<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title></title>
    </head>
    <body>

        Name:
        <br>
        <%= @person.name %>
        <br> <br>
        Age:
        <br>
        <%= @person.age %>

    </body>
</html>
