<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Two Sided Marketplace Template</title>
    </head>
    <body>
        <div class="jumbotron">
          <h1>Home Page</h1>
          <p>Im trying to intergrate my ERD into this two sided marketplace template</p>
          <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
          <p><a class="btn btn-primary btn-lg" href="contact#index" role="button">Contact Me</a></p>
        </div>



        <!-- <%= link_to 'sign_out', destroy_user_session_path, method: :delete %> -->

    </body>
</html>
