<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Alex Holder DevSite</title>
    </head>
    <body>
        <div class="jumbotron">
          <h1>Home Page</h1>
          <p>This is a placeholder project with Devise installed, and PostgreSQL set up for easy Windows Ruby On Rails development.</p>
          <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
        </div>



        <!-- <%= link_to 'sign_out', destroy_user_session_path, method: :delete %> -->

    </body>
</html>
