
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta http-equiv="Contect-Type" content="text/html;charset=urf-8"/>
    <style>
    </style>
  </head>

  <body>
    <p>From:</p>
    <p><%= @email %></p>
    <p>Message:</p>
    <p><%= @message %></p>
  </body>
</html>
